.term{
    height: calc(100% - 30px);
    background-color: #1e1e1e;
}

.termLine{
    height: 30px;
    background: #cceeff44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;

    font-size: 12px;
    font-weight: bold;
    color: rgb(7, 105, 161);


    .icon{
        width: 20px;
        height: 20px;
        padding: 6px;
        border-radius: 4px;
        &:hover{
            background: rgb(7, 105, 161);
            color: white;
            cursor:pointer;
        }
    }
}

