.pythonControl{
    width: 40px;
    height: 100%;
    background-color: #F6F3EB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .b{
        display: flex;
        flex-direction: column;
    }
}

.icon{
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 4px;
    margin: 4px auto 0;
    &:hover{
        background: rgb(7, 105, 161);
        color: white;
        cursor:pointer;
    }
}

