.head {
    height: var(--head-height);
    background-color: #F6F3EB;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;


}

.logo{
    font-size: 20px;
    color:#fefefe;
    text-shadow:0 1px 0 #c0c0c0,
    0 2px 0 #b0b0b0,
    0 3px 0 #a0a0a0,
    0 4px 0 #909090,
    0 5px 10px rgba(0, 0, 0, .9);
}

.r{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.rl{
    width: fit-content;
    background-color: rgba(204, 238, 255, 0.63);
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 2px;
    .icon{
        margin: auto 2px;
        &:hover{
            background: white;
            cursor:pointer;
        }
    }
}


.icon{
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 4px;
    margin: auto 4px;
    &:hover{
        background: rgb(7, 105, 161);
        color: white;
        cursor:pointer;
    }
}